.site-header {
    background-image: url("https://previews.dropbox.com/p/thumb/AA2on6AH205kmZP_Y-RdzOz5oUh3T04r1N_onntT5QSaap3aMt2TuUvtlhGljM1ZHo8eCDdGRciLy2HlDnpgxqvqaXjJrnezK4hVEpXXOnAzuMsB2XdyoLSwl7kOwHRQs38Y38-Yk9qxtyycKMgld-F5Ha2H-SndOBN1qIY1uPnLJ_iD4lf8QMYwJO7q8yUHCxs8JKtf25YpdAps9nBCMum0YeCidP9e4Np6LWlGYJ1Cn_xNbhzb9AL--zOBQrrVKmXwDcNMLEQuFlS7xziukP0oEpT069svIeRgsImL6CbLlCm3TOiyuaxQ2K4o8j-jXD3uWB_-YNgXppeFPJEScgxxcyOqEjZuzg9XlhB4dXjnCQ/p.jpeg?fv_content=true&size_mode=5");
    background-size: 100%;
    color: #000000;
    height: 100vh;
    font-family: 'Cinzel', serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.site-header-content {
    margin: 10px;
}


.course-link {
    color: #e8fff0;
}

.profile-pic {
    border-radius: 50%;
    height: 200px;
    width: 200px;
    box-shadow: #4a4040 2px 2px 5px;
}

body {
    margin: 0;
}
