.site-header {
    background-image: url("https://previews.dropbox.com/p/thumb/AA32dhFKAdDh31os-7ZB3-Jisk2xzaJop56VVUIMVE0l746LpZrtZbC6lCuuV78Srf_BopZOKBH6AygDHXT8Ae_0SALHfmcUe-9vjVDpalHbQudYakAXxC_bpA0grr7TQNYaP5qBZ-wCWwWHrIE2mgWiOG-xVXL0zz7e2IeYePwr3NloUWp6jBzSr01Zs8tXN2tlmY_mTVLUPOE27f8IJNb-wCB7cp7h1FpwQ-hdBtmHvpYPNCn4OgJ9niPMkm-SOzlCeJbQyJ3At2oVbDyAQbPVdQa3hrSQ9tc2-bJBuqwrv9swWvG5VPNIEyKbZ4V_88e2299ZF5keq40IL4g7TtjU6QU6cWuAPvxv1Eirn7EfkQ/p.jpeg?fv_content=true&size_mode=5");
    background-size: 100%;
    color: #000000;
    height: 100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.site-header-content {
    margin: 10px;
}


.course-link {
    color: #e8fff0;
}

.profile-pic {
    border-radius: 50%;
    height: 200px;
    width: 200px;
    box-shadow: #4a4040 2px 2px 5px;
}

body {
    margin: 0;
}
