.site-header {
    background-image: url("https://drive.google.com/file/d/1nUCuPJAdN204T4BE7jpw2JatbpTOsKhg/view?usp=sharing");
    background-size: 100%;
    color: #000000;
    height: 100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.site-header-content {
    margin: 10px;
}


.course-link {
    color: #e8fff0;
}

.profile-pic {
    border-radius: 50%;
    height: 200px;
    width: 200px;
    box-shadow: #4a4040 2px 2px 5px;
}

body {
    margin: 0;
}